<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.${moduleName}.mapper.${ClassName}Mapper">

    <resultMap type="${ClassName}" id="${ClassName}Result">
        #foreach ($column in $columns)
        <result property="${column.javaField}"    column="${column.columnName}"    />
        #end
    </resultMap>
    <sql id="Base_Column_List">
#foreach ($column in $columns)
        o.$column.columnName #if($velocityCount != $columns.size()),
        #end
#end

        from ${tableName} o
    </sql>

    <select id="getVo" resultType="${packageName}.${moduleName}.domain.vo.${ClassName}Vo">
        select
        <include refid="Base_Column_List" />
        where o.id=#{id} and o.del_status=0
    </select>

    <select id="listVo" resultType="${packageName}.${moduleName}.domain.vo.${ClassName}Vo">
        select
        <include refid="Base_Column_List" />
        ${ew.customSqlSegment}
    </select>




</mapper>